[Desktop Entry]
Type=Application
Name=Remote Desktop
Comment=who comments on a desktop shortcut
Terminal=false
Exec=/home/guineapig/cemc-rdp.sh
Icon=/home/guineapig/icon.png
